/* $lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9; */

/* @mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
} */

.jumbotron {
    /* @include zero-margin(70px,30px); */
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 30px;
    margin: 0px auto;
    background:#9575CD ;
    color:floralwhite;
    min-height: 150px;
}

.active { 
    /* router link active class when that link is active the below stylings will b applied */
    background: #4527A0;
}