<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <div fxFlex *ngIf="dish">
        <mat-card>
        <mat-card-header>
            <mat-card-title>
            <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
            </mat-card-title>
        </mat-card-header>
        <img mat-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
            <p>{{dish.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
            <button mat-button (click)="goBack()">BACK</button>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
            <span class="flex-spacer"></span>
            <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
        </mat-card>
    </div>
  </div>

  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex="40">

    <div fxFlex *ngIf="dish">
        <mat-list>
            <h1 mat-header>Comments</h1>
            <mat-list-item *ngFor="let c of dish.comments">
              <p matLine>
                <span> {{c.comment}} </span>
              </p>
              <p matLine>{{c.rating}} star</p>
              <p matLine>--{{c.author}} {{c.date | date}}</p>
            </mat-list-item>
          </mat-list>

          <!-- <div  fxFlex="40" class="form-size"> -->
            <!-- <h3>Send us your Feedback</h3> -->
            <p>{{commentForm.value.author}}</p> 
            <p>{{commentForm.value.rating}} stars</p>
            <p>{{commentForm.value.comment}}</p> 
            
           
            <!-- <p>{{authname.value}}</p> -->
            <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
              
                <mat-form-field class="half-width">
                  <input matInput formControlName="author" placeholder="Name" type="text">
                  <!-- <mat-error *ngIf="commentForm.get('author').hasError('required') && commentForm.get('author').touched">First name is required</mat-error> -->
                  <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
                </mat-form-field >
                  <br>
                <mat-slider
                  formControlName="rating"
                  thumbLabel
                  value="5" 
                  [displayWith]=formatLabel
                  tickInterval="1"
                  min="1"
                  max="5"></mat-slider>
        
                <p>
                  <mat-form-field class="full-width">
                    <textarea matInput formControlName="comment" placeholder="Your Comment" rows=10></textarea>
                    <mat-error *ngIf="formErrors.author">{{formErrors.comment}}</mat-error>
                  </mat-form-field>
                </p>
                <button type="submit" [disabled]="commentForm.invalid"  mat-button class="background-primary text-floral-white">Submit</button>
            </form>
          <!-- </div>     -->
        

    </div>
   
  </div>


</div>


